
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/bootadmin.min.css">
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    @*<link href="~/css/imprimir.css" rel="stylesheet" media="print"/>*@

    <title>ROCK, PAPER & SCISSORS</title>
    <style>
        .backcolor{
            background-color: #000000
        }
    </style>
</head>


<body class="backcolor">



    @RenderBody()


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootadmin.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>